<h1>Contact Form</h1>

<form action="/" method="post">
  Your name:<br> <input type="text" name="user_name" value="<%= @user_name %>"><br>
  Your email:<br> <input type="text" name="email" value="<%= @email %>"><br>
  Message:<br> <input type="text" name="message" value="<%= @message %>"><br>
  <p><strong><%= @error %></strong></p>

  <input type="submit">
</form>
